@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
}

[data-theme="dark"],
[data-theme="dark"] body {
  color: #FFFFFF;
  background: #202830;
  /* background: #151B23; */
}

body {
  background: var(--background);
  font-family: var(--font-jalnan2), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
